name: Build and deploy React SPA to Azure Web App - opticore

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      - name: Install dependencies
        run: npm ci

      - name: Build React app (disable ESLint errors in CI)
        run: CI=false npm run build

      - name: Upload deployment artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-deploy
          path: |
            build
            server.js
            package.json
            package-lock.json 
            node_modules

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: app-deploy
          path: .

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'opticore'
          slot-name: 'Production'
          package: .
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_EF48D1EBAB2947DD97734402635F97C4 }}

